<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.submissionintermediate2">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubmissionIntermediate2">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDdRP7z6uZR5EOg54tJn-b0UVj2VlfONL4" />

        <receiver
            android:name="com.example.submissionintermediate2.view.widget.StoryListWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/story_list_widget_info" />
        </receiver>

        <service
            android:name="com.example.submissionintermediate2.view.widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name="com.example.submissionintermediate2.view.mapstorylist.MapStoryListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.submissionintermediate2.view.addstory.AddStoryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.submissionintermediate2.view.storydetail.StoryDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.submissionintermediate2.view.storylist.StoryListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.submissionintermediate2.view.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.submissionintermediate2.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.submissionintermediate2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>